<h3>Why does this website exist?</h3>
<p>
This web application is a product of SE195's Senior Poject class for FY 2018-2019. It is a requirement for graduating seniors majoring in Software Engineering at San Jose State University.
It's intents and purposes suit earthquake enthusaists, seismologists, geotech engineers, environmentalists, and citizens who may be affected by earthquakes in the Bay Area.
</p>

<h3>How was this created?</h3>

<p>Technologies used: </p>
<ul>
  <li>Angular</li>
  <li>Project Clarity</li>
  <li>AWS</li>
  <li>[Other stuff]</li>
</ul>

<h3>Who created this?</h3>

<p>Meet the developers:
    [insert pictures here]</p>
    <ul>
      <li>Product Owner: Tai Dao</li>
      <li>Web App lead:Vivian Leung</li>
      <li>Project Manager: Patrick Garcia</li>
      <li>Machine Learning lead: Robert Campbell</li>
      <li>Ron Mak</li>
    </ul>
