<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link nav-text" routerLink="/">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">ShakeAlertSJ</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="nav-link nav-text" routerLink="/">Home</a>
    </div>
    <div class="header-nav">
			<a class="nav-link nav-text" routerLink="/about">About</a>
    </div>
    <div class="header-nav">
			<a class="nav-link nav-text" routerLink="/register">Register</a>
    </div>
	</header>
	<div class="content-container">
		<div class="content-area">
      <router-outlet></router-outlet>
		</div>
  </div>
</div>


